body {
  margin: 0;
  background-color: #f5f5dc;
}

p {
  margin: 0;
}

.parent {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: repeat(9, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100vh;
}

.header {
  grid-area: 1 / 1 / 3 / 14;
  display: grid;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: 1.5fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.topheader {
  grid-area: 1 / 1 / 2 / 14;
  background-color: #708090;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10vw;
}

.logo {
  height: 13vh;
}

.searchbar {
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  border: solid black 0.2em;
  border-radius: 5px;
}

.searchbar input {
  border: none;
  height: fit-content;
  width: 15vw;
}

.searchbar input:focus {
  outline: none;
  border: none;
}

.searchbar img {
  height: 4vh;
}

.usuario,
.compra {
  height: 10vh;
}

.menu {
  grid-area: 2 / 1 / 3 / 14;
}

.menu ul {
  list-style-type: none; /* Sin viñetas */
  margin: 0;
  padding: 0;
  background-color: #2f4f4f; /* Fondo del menú */
  overflow: hidden;
  display: flex;
  justify-content: center;
  gap: 10vw;
  height: 100%;
  align-items: center;
}

.menu li {
  height: 100%;
  width: 100%;
  text-align: center;
  align-items: center;
  margin: 0;
}

.menu li a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
}

.menu ul ul {
  display: none;
  position: absolute;
  padding: 0;
  flex-direction: column;
  gap: 1vh;
  height: 20vh;
  width: 20vw;
}

.menu ul li:hover > ul {
  display: flex;
}

.menu ul li li:hover {
  background: #1c2b2b;
}

.body {
  grid-area: 3 / 1 / 10 / 14;
  display: flex;
  padding-left: 5vw;
}

.categoria h2 {
  font-family: "Rock Salt", cursive;
}

.carrusel {
  display: flex;
  align-items: center;
}

.carrusel img {
  height: 5vh;
}

.left {
  transform: rotate(180deg);
}

.producto {
  padding: 5%;
  transition: transform 0.25s ease-in-out;
}

.producto a {
  text-decoration: none;
  color: black;
}

.producto img {
  height: 30vh;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
}

.comprar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3vw;
}

.comprar input {
  width: 2vw;
  border-radius: 10px;
  border: solid #2f4f4f 0.2em;
  text-align: center;
}

.comprar button {
  border-radius: 10px;
  background-color: #2f4f4f;
  color: #f5f5dc;
}
